.chat-item {
    background-color: white;
    padding: 10px;
    margin: 10px;
    box-shadow: #eeeeee 3px 6px 7px 2px;
}

.user-sent {
    margin-inline-start: 30px;
}

.ai-sent {
    margin-inline-end: 30px;
}