.container {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: flex-end;
}

.circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  .chat-box {
    width: 350px;
    min-height: 500px;
    box-shadow: #eeeeee 3px 6px 7px 2px;
    border: 1px solid #eeeeee;
    margin-bottom: 20px;
    background: #f9f9f9;
    z-index: 10;
    position: relative;

    .chat-input {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;

      input {
        flex-grow: 1;
        padding: 10px;
        margin: 10px;
        border: none;
        margin-inline-end: 0;;
      }
      button {
        padding: 10px;
        margin: 10px;
        border: none;
        &:hover {
          background-color: #dadada;
          cursor: pointer;
        }
      }
    }
  }

  .chat-content {
    max-height: calc(70vh - 100px);
    overflow: overlay;
    margin-bottom: 62px;

    &::-webkit-scrollbar {
      width: 10px;
  }

  &::-webkit-scrollbar-thumb {
      background-color: #dadada;
      border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #fff
  }
  }