
<div class="toolbar" role="banner">
  <img
    width="40"
    src="assets/uxperts-logo.png"
  />
  <span>UXperts</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">
  <img
    width="400"
    src="assets/uxperts-logo.png"
  />
  <div class="card highlight-card card-small">

    

  <h2>UXPerts- AI Hackathon</h2>
  </div>

  <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>



  <div class="card-container-chat-icon">
    <app-chat></app-chat>
    </div>
  <footer>
  </footer>
</div>

<router-outlet></router-outlet>
